/* Estilos gerais */
.header {
  display: flex;
  align-items: center;
  color: antiquewhite;
}

.title {
  width: 100%;
  text-align: center;
}

.container {
  background-color: #000f6a;
  border-radius: 50px 0px 50px 0px;
  margin: 2rem;
  padding: 2rem;
}

.container img {
  border-radius: 50px 0px 50px 0px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Query para telas pequenas */
@media (max-width: 600px) {
  .container img {
    max-width: 100px;
  }
  .header {
    text-align: center;
  }
  .menu {
    font-size: 13px;
  }
  .container {
    margin: 1rem;
    padding: 1rem;
  }

  .title h3 {
    font-size: 1.3rem;
  }
  .title {
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
  }
  .container img {
    border-radius: 10px;
  }
  .menu a {
    padding: 10px;
  }
}
@media (max-width: 1024px) and (min-width: 601px) {
  .header {
    flex-direction: row; /* Mantém os itens em linha em telas médias */
    justify-content: space-between; /* Adiciona espaço entre os itens */
  }

  .container {
    margin: 1.5rem;
    padding: 1.5rem;
  }

  .title {
    font-size: 2rem; /* Ajusta o tamanho da fonte para telas médias */
  }
}
